{% extends 'main/base.html' %}

{% block title %}
Main page
{% endblock %}

{% block headsins %}
<a class="nav-link active" aria-current="page" href="/">Домой</a>
<a class="nav-link" href="/about">Портфолио</a>
<a class="nav-link" href="/contact">Связь</a>
{% endblock %}

{% block namedesc %}
<h1 align="right" style="margin-right:-1.5%">Приветствую!</h1>
<div style="margin-left:45%; margin-right:-1.5%">
    <p align="right"class="lead w-100">Меня зовут Владислав. Я молодой дизайнер и веб-разработчик из города Минска. Сделаю для вас дизайн, оформление и собственно сайт любой сложности. С моими работами и ценами можете ознакомиться перейдя на вкладку "Портфолио" или нажав на кнопку ниже.</p>
    <a href="/about"><button style="font-size:80%; float: right; width: 40%; padding: 1%; margin-top: 2%" class="btn btn-success">Портфолио</button></a>
</div>
{% endblock %}